.header{
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: red;
  background-color: #aef603;
}

.input{
  padding-top: 3%;
  padding-left: 20%;
  width: 80%;
}

.add-button{
  width: 150px;
}

.item{
  padding-top: 3%;
  padding-left: 20%;
  width: 80%;
}

.item-text{
  width:78%;
  height: 50px;
  margin: 2px;
}

.item-button{
  width: 10%;
  height: 45px;
  margin-top: 4px;
  margin-left: 4px;
}